<!DOCTYPE html>
<html>
<head>
	<title>Insubuy</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

</head>
<body class="overlay1">

<div id="rc_logo">
<a href="#home" title="Logo"><img src="/images/logo.png" height="80px" /></a> 
</div>  

<div class="rc_nav" id="centered_nav">
<a href="#home" title="Home">Home</a>
<a href="#services" title="Services">Services</a>
<a href="#about" title="About">About</a>
<a href="#contact" title="Contact">Contact</a>
<a href="javascript:void(0);" title="Menu" style="font-size:18px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
</br>

            <section class="default-banner">
				<div class="banner-content text-center">
					<h4 class="text-white mb-20 text-uppercase">Discover the Colorful World</h4>
					<h1 class="text-uppercase text-white">New Adventure</h1>
					<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br>
										or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
					<a href="#" class="text-uppercase header-btn">Discover Now</a>
				</div>
            </section>

			<section >
								<form class="register" name="user-info">
									<h3 class="register-h3">Travel Insurance</h3>
									<label class="register-label">Policy Maximum
									<select class="register-input">
									  <option value="">Choose policy maximum</option>
									  <option value="50">"50,000"</option>
									  <option value="100">"100,000"</option>
									  <option value="250">"250,000"</option>
									  <option value="500">"500,000"</option>
									</select>
									<label class="register-label">Age
									<input type="text" class="register-input" placeholder="Choose your age"></label>
									<label class="register-label">Travel Dates
									<span  style="float:left">
									<input type="date" class="register-input" >
									</span>
									<span style="float:right">
									<input type="date" class="register-input">
									</span>
									</label>

									<label class="register-label">Citizenship
									<input type="text" class="register-input" placeholder="Citizenship"></label>
									<label class="register-label">Mailing State
									<input type="text" class="register-input" placeholder="Mailing State"></label>
									<input type="submit" value="Get Quotes" class="register-button"> 
									<div style="text-align:center;"><a href="#">Reset Quote</a></div>
							    </form>
		    </section>
		</body>
</html>